:root{
    --text-color: #463F3A;
    --background-color: #F4F3EE;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}
html::-webkit-scrollbar{
    width: 16px;
}
html::-webkit-scrollbar-thumb{
    background-color:rgb(20, 20, 20, .7);
    border-radius:10px;
}
html::-webkit-scrollbar-thumb:hover{
    background-color:rgb(20, 20, 20);
    border-radius:10px;
}
html::-webkit-scrollbar-track{
    background-color:rgba(74, 78, 75, 0.5);

}
body{
    font-family: 'Open Sans', sans-serif;
    background-color: var(--background-color);
    overflow-y:scroll;
}

nav a{
    color: #1f1d1d;
    text-decoration: none;
    padding-right: 5px;
}

nav{
    display: block;
    align-items: center;
    text-align: right;
    top:0;
    right:0;
    left:0;
    word-spacing: 10px;
    padding-right: 25px;
    padding-top: 15px;
    background-color: #A4B494;
    opacity: 0.5; 
    height: 50px;
    position:fixed;
    font-size: 14px;
    border-radius: 15px;
    font-family: 'Montserrat';
    z-index: 99;
}

#Copyright{
    display: flex;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    text-align: center;
    align-items: center;
    justify-content: center;
    height:50px;
    background-color:#BCB8B1;
}
#Copyright a{
    text-decoration: underline;
    color: var(--text-color);
    margin-right:4px;
}
#Copyright p{
    color: var(--text-color);
}
