#Contact{
    padding-top: 10px;
}
#Contact h1{
    
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 22px;
    letter-spacing: 6px;
    color: var(--text-color);
    margin-top: 100px;
}
#Contact hr{
    margin-right: 46%;
    margin-left:46%;
    margin-top: 1%;
    margin-bottom: 3%;

    height:4px;

    border-radius: 5px;
    border-width: 0;
    border-color: #E0AFA0;
    background-color:#E0AFA0;
}
.contact-container{
    display:flex;
    align-items:center;
    text-align:center;
    justify-content:center;
    gap: 10px;
    font-size: 16px;
    margin-bottom: 20px;
}
.copyright-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 10px;
    justify-content: center;
    background-color:rgb(87, 78, 68);
    color: white;
    font-size: 14px;
}
.copyright-left{
    text-decoration: underline;
    color: white;
}
.submit-button{
    cursor:pointer;
}
