:root{
    --text-color: #463F3A;
    --background-color: #f7ead9;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

html::-webkit-scrollbar{
    width: 16px;
    display:none;
}

body{
    font-family: 'Open Sans', sans-serif;
    background-color: var(--background-color);
    overflow-y:scroll;
    overflow-x:hidden;
}